@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Mulish:wght@400&display=swap");
/** Global Style*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #0e1731;
}

a {
  text-decoration: none;
  color: #0e1731;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: inline-block;
}
p {
  margin-left: 0.625rem;
}
.container {
  width: 90%;
  max-width: 1220px;
  margin: auto;
}

.profile {
  display: flex;
  align-items: center;
}

/* !Global Style end*/

/**Header*/

header {
  padding: 2.5rem 0;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  font-family: "Mulish", sans-serif;
}
.nav__bar ul {
  display: flex;
  flex-direction: column;
}
.nav__bar ul li {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  transition: all 200ms ease-in-out;
}
.nav__bar ul li span {
  margin-left: 5px;
}
.nav__bar ul li a:hover {
  color: #4a4a4a;
}
.btn__container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.btn,
.btn__dark {
  padding: 0.75em 1.625em;

  border: 1px solid #0e1731;
  border-radius: 1.375rem;
  transition: all 400ms ease-in-out;
}

.btn:hover {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  scale: 1.05;
}

.btn__dark {
  color: white;
  background-color: #0e1731;
  margin-left: 1.25rem;
}
.btn__dark:hover {
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  scale: 1.05;
}
/* * main  */

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 3.75rem;
  align-items: center;
}
.hero__nav {
  display: flex;
  flex-wrap: wrap;
}
.hero__nav a {
  margin-top: 0.75rem;
  margin-right: 1.25rem;
  font-family: "Mulish", sans-serif;
}

.fa-search {
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.35rem;
  color: #6f6f6f;
  cursor: pointer;
}

.title {
  font-size: 3.25rem;
  margin-bottom: 1.875rem;
}
.featured__article .featured__image {
  width: 100%;
  margin-bottom: 1.5rem;
}
.featured__article h2 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.featured__article .body {
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  width: 90%;
  margin-bottom: 1.6785rem;
}

.recent__articles {
  margin: 2rem 0;
}

h3 {
  font-size: 1.75rem;
}
article {
  margin-top: 2.5rem;
  display: flex;

  align-items: center;
}
.article__info {
  margin-left: 1.5rem;
}
article h3 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

@media (min-width: 900px) {
  .container {
    width: 100%;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn__container {
    margin-top: 0;
  }
  .nav__bar ul {
    align-items: center;

    flex-direction: row;
  }
  .nav__bar ul li {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }
  .nav__bar ul li:not(:last-child) {
    margin-right: 2.25rem;
  }
  .content__cocntainer {
    display: flex;
  }
  .featured__article {
    margin-right: 4.375rem;
  }
  .recent__articles {
    margin: 5rem 0;
  }
  .fa-search {
    margin-right: 0;
  }

  article h3 {
    font-size: 1.25rem;
  }
}
